<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Comparador de Textos</a>
  </div>
  </nav>



 <br><br><br><br>
 
 <center>
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
  <div class="mb-3">
    <label for="formFile" class="form-label">Primeiro arquivo</label>
    <input class="form-control" type="file" id="formFile" name="myfile" required>
  </div>
  <br><br>
  <div class="mb-3">
    <label for="formFile" class="form-label" required>Segundo arquivo</label>
    <input class="form-control" type="file" id="formFile"  name="myfile2" required>
  </div>
   <br> <br>
  <button type="submit" class="btn btn-light">Enviar</button>
</form>
</center>

<style>

  .mb-3{

    width: 20%;
  }

  .btn{
    width: 20%;
    background-color: #e3f2fd;
  }

</style>